{% extends "base.html" %}
{% block page-title %}
全唐詩查找斷詞檢核主介面
{% endblock %}
{% block content %}
<h2 style="font-family:標楷體;background-color:#8888ee;color:#ffffff;padding:5px;">全唐詩查找斷詞檢核主介面</h2><hr>
<form method=POST action='/cut-check/'>
    {% csrf_token %}
    唐詩關鍵字：<input type=text size=40 name='keyword'>
    <input type=submit value="搜尋">
</form>
<script>
    function copy2right(value) {
        textorigin.value = value.split(":")[0];
        cuttextsaved.value = value.split(":")[1];
        $('#selected-id').html(value.split(":")[2]);
        $('#selected-title').html(value.split(":")[3]);
        document.all.sel.options[0].selected=true;
    }

    function save_result() {
        var pid = $('#selected-id').text();
        var cutted = $('#text2cut').val();
        $('#save-result-message').html("儲存中...");
        var target_url = "/api/cutsave/" + pid + "/" + cutted + "/";
        $.ajax({
            type:"GET",
            url: target_url,
            dataType: "json",
            success: function (response) {
                $('#save-result-message').html(response['result']);
            },
            error: function(error) {
                console.log(error);
                $('#save-result-message').html("資料儲存API出了一些錯誤，請稍候再試。");
            }
        });

    }
    function cut(method) {
        var target = $('#textorigin').val();
        switch(method) {
            case -1: // 自資料庫中還原
                    text2cut.value = $('#cuttextsaved').val();
                    break;
            case 0: // 輔助斷詞
                    $('#text2cut').val("系統輔助斷詞中，請稍候...");
                    $.ajax({
                        type:"GET",
                        url:"/api/cut/0/" + target + "/",
                        dataType: "json",
                        success: function (response) {
                            $('#text2cut').val(response['result']);
                        },
                        error: function(error) {
                            console.log(error);
                            $('#text2cut').val("系統輔助斷詞API出了一些錯誤，請稍候再試。");
                        }
                    });
                    break;
            case 1: // N-Gram斷詞結果
                    $('#text2cut').val("N-Gram斷詞中，請稍候...");
                    $.ajax({
                        type:"GET",
                        url:"/api/cut/1/" + target + "/",
                        dataType: "json",
                        success: function (response) {
                            $('#text2cut').val(response['result']);
                        },
                        error: function(error) {
                            console.log(error);
                            $('#text2cut').val("N-Gram斷詞API出了一些錯誤，請稍候再試。");
                        }
                    });
                    break;
            case 2: // 結巴斷詞結果
                    $('#text2cut').val("結巴斷詞中，請稍候...");
                    $.ajax({
                        type:"GET",
                        url:"/api/cut/2/" + target + "/",
                        dataType: "json",
                        success: function (response) {
                            $('#text2cut').val(response['result']);
                        },
                        error: function(error) {
                            console.log(error);
                            $('#text2cut').val("結巴斷詞API出了一些錯誤，請稍候再試。");
                        }
                    });
                    break;
            case 3: // CKIP斷詞結果
                    $('#text2cut').val("CKIP斷詞中，請稍候...");
                    $.ajax({
                        timeout: 30000,
                        type:"GET",
                        url:"/api/cut/3/" + target + "/",
                        dataType: "json",
                        success: function (response) {
                            $('#text2cut').val(response['result']);
                        },
                        error: function(error) {
                            console.log(error);
                            $('#text2cut').val("CKIP斷詞API出了一些錯誤，請稍候再試。");
                        }
                    });

                    break;
        }
    }
</script>
{% if numbers %}
 <h3>
    檢索結果--{{ keyword }}（共{{ numbers }}首）
    </h3>
    {% if numbers < 50 %}
    <div>
        <table class="table" width=100%>
            <tr><td>
            選擇斷詞對象：<select name=sel onchange="copy2right(this.options[this.options.selectedIndex].value)">
                    <option value="0">請下拉並選擇欲斷詞之詩作</option>
                    {% for p in selected_poetry %}
                        <option value="{{p.content}}:{{p.cutted}}:{{p.id}}:{{p.title}}">{{p.title}}({{p.author}})</option>
                    {% endfor %}
                </select>
                ID:<span id="selected-id">未選取</span>，題名：<span id="selected-title">未選取</span>
                <br/><br/>
                <table class="table" wdith=100%>
                    <tr><td colspan=2>原詩<br/>
                            <textarea id="textorigin" name="textorigin" style="width:100%;height:100%;" rows=4>尚未選取</textarea>
                    </td></tr>
                    <tr>
                        <td width=50%>
                            已儲存之斷詞結果：<br/>
                            <textarea id="cuttextsaved" name="cuttextsaved" style="width:100%;height:100%;" rows=8>尚未選取</textarea>
                        </td>
                        <td align=right>
                            <a class="buton btn-sm btn-light" onclick="cut(-1);">原斷詞結果</a>
                            <a class="buton btn-sm btn-light" onclick="cut(0);">系統輔助斷詞</a>
                            <a class="buton btn-sm btn-light" onclick="cut(1);">N-Gram斷詞</a>
                            <a class="buton btn-sm btn-light" onclick="cut(2);">結巴斷詞</a>
                            <a class="buton btn-sm btn-light" onclick="cut(3);">CKIP斷詞</a><br/>
                            <form action="/cut-main-check/" method=POST>
                                {% csrf_token %}
                                <textarea name='text2cut' id="text2cut" style="width:100%;height:100%;" rows=8>尚未選取</textarea>
                            </form>
                            <button type="button btn-info" onclick='save_result();'>更正並儲存斷詞結果</button><br/>
                                <span id="save-result-message"></span>
                        </td>
                    </tr>
                </table>
            </td>
            </tr>
        </table>
    </div>    
    {% else %}
        <div>
            <h4>檢索結果太多，敬請縮小檢索之範圍</h4>
        </div>
    {% endif %}
{% else %}
<br>
{% endif %}
{% endblock %}