{% extends "base.html" %}
{% block page-title %}
全唐詩-詩名檢索
{% endblock %}
{% block content %}
<form method=POST action='/search/'>
    {% csrf_token %}
    詩名關鍵字：<input type=text size=20 name='keyword'>
    <input type=submit value="搜尋">
</form>

{% if numbers %}
<h3>
    詩名檢索結果--{{ selected_author }}（共{{ numbers }}首）
    </h3>
    <div>
        {% for p in selected_poetry %}
        <hr>
        <i>作者：{{ p.author }}</i><br>   
        題名：【<b><a href='/edit/{{ p.id }}'>{{ p.title }}</a></b>】
        {% if user.is_authenticated %}
        (<a href='/update/{{ p.id }}/'>編輯</a>) 
        {% endif %}
        <br/>
        {{ p.content }} 
        {% endfor %}
    </div>    
{% else %}
<br>
<h3>
    無查詢結果
</h3>
{% endif %}
{% endblock %}