{% extends 'base.html' %} {% load static %} {% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->

        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://i.ytimg.com/vi/7wtfhZwyrcc/hqdefault.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h3>熱門影片</h3>
                <p>TOP3</p>
            </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://i.ytimg.com/vi/nfs8NYg7yQM/hqdefault.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h3>熱門影片</h3>
                <p>TOP2</p>
            </div>
        </div>
        <div class="carousel-item active" style="background-image: url('https://i.ytimg.com/vi/OxPv8mSTv9U/hqdefault.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h3>熱門影片</h3>
                <p>TOP1</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!-- Page Content -->
<div class="container">

    <h1 class="my-4">熱門影片介紹</h1>

    <!-- Marketing Icons Section -->
    <div class="row">

        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Maroon 5 - Don't Wanna Know ft. Kendrick Lamar (Audio)</h4>
                <div class="card-body">
                    <iframe scrolling="no" frameborder="0" 
                    class="fb_edge_widget_with_comment fb-like-btn pull-right"  width="300" height="150"
                    src="https://www.youtube.com/embed/OxPv8mSTv9U?rel=0&showinfo=0&cc_load_policy=0&wmode=transparent&controls=2&iv_load_policy=3&html5=1&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Ftw.voicetube.com&widgetid=1">
                    </iframe>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Charlie Puth - Attention [Official Video]</h4>
                <div class="card-body">
                    <iframe scrolling="no" frameborder="0" 
                    class="fb_edge_widget_with_comment fb-like-btn pull-right"  width="300" height="150"
                    src="https://www.youtube.com/embed/nfs8NYg7yQM?rel=0&showinfo=0&cc_load_policy=0&wmode=transparent&controls=2&iv_load_policy=3&html5=1&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Ftw.voicetube.com&widgetid=1">
                    </iframe>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Imagine Dragons - Believer</h4>
                <div class="card-body">
                    <iframe scrolling="no" frameborder="0" 
                    class="fb_edge_widget_with_comment fb-like-btn pull-right"  width="300" height="150"
                    src="https://www.youtube.com/embed/7wtfhZwyrcc?rel=0&showinfo=0&cc_load_policy=0&wmode=transparent&controls=2&iv_load_policy=3&html5=1&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Ftw.voicetube.com&widgetid=1">
                    </iframe>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>更多影片</h2>

    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://i.ytimg.com/vi/uuwfgXD8qV8/hqdefault.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <p>Katy Perry - Part Of Me (Official)</p>
                    </h4>
                    <p class="card-text">觀看數:99</p>
                    <p class="card-text">   推薦時間:2020年3月29日 14:55</p>
                    <p class="card-text">   推薦人:C107110146@nkust.edu.tw</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <p><img class="card-img-top" src="https://i.ytimg.com/vi/aatr_2MstrI/hqdefault.jpg" alt=""></p>
                <div class="card-body">
                    <h4 class="card-title">
                        <p>Clean Bandit - Symphony (feat. Zara Larsson) [Official Video]</p>
                    </h4>
                    <p class="card-text">觀看數:99</p>
                    <p class="card-text">   推薦時間:2020年3月29日 14:55</p>
                    <p class="card-text">   推薦人:C107110146@nkust.edu.tw</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://i.ytimg.com/vi/e2vBLd5Egnk/hqdefault.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <p>Martin Garrix & Dua Lipa - Scared To Be Lonely (Official Video)</p>
                    </h4>
                    <p class="card-text">觀看數:99</p>
                    <p class="card-text">   推薦時間:2020年3月29日 14:55</p>
                    <p class="card-text">   推薦人:C107110146@nkust.edu.tw</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://i.ytimg.com/vi/tk36ovCMsU8/hqdefault.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <p>Marshmello ft. Khalid - Silence (Official Lyric Video)</p>
                    </h4>
                    <p class="card-text">觀看數:99</p>
                    <p class="card-text">   推薦時間:2020年3月29日 14:55</p>
                    <p class="card-text">   推薦人:C107110146@nkust.edu.tw</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://i.ytimg.com/vi/zOujzvtwZ6M/hqdefault.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <p> Lil Peep - Awful Things ft. Lil Tracy (Official Video)</p>
                    </h4>
                    <p class="card-text">觀看數:99</p>
                    <p class="card-text">   推薦時間:2020年3月29日 14:55</p>
                    <p class="card-text">   推薦人:C107110146@nkust.edu.tw</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://i.ytimg.com/vi/pgN-vvVVxMA/hqdefault.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <p>XXXTENTACION - SAD!</p>
                    </h4>
                    <p class="card-text">觀看數:99</p>
                    <p class="card-text">   推薦時間:2020年3月29日 14:55</p>
                    <p class="card-text">   推薦人:C107110146@nkust.edu.tw</p>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- Footer -->


<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}

</html>